@import '../../../../../assets/stylesheets/layout';

.card__media {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 40px);
  flex-direction: column-reverse;

  @media (max-width: map-get($grid-breakpoints, xl)) {
    margin-bottom: 0;
  }

  &-image, img {
    display: flex;
    align-items: flex-end;
    width: 55px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &-title {
    font-size: 38px;
  }

  &-description {
    color: grey;
  }
}
