@import '../../../assets/stylesheets/layout';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 50px;
  background-color: var(--accent2-color);

  :nth-child(2) {
    display: flex;
    justify-content: space-between;

    @media (max-width: map-get($grid-breakpoints, xl)) {
      flex-direction: column-reverse;
    }

    app-system-overview {

      @media (max-width: map-get($grid-breakpoints, xl)) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  :nth-child(2) > * {
    width: calc(33.33333% - 20px);

    @media (max-width: map-get($grid-breakpoints, xl)) {
      width: 100%;
    }
  }
}
