.toast--success,
.toast--info {
  display: flex;
  color: var(--accent2-color);
  font-size: 18px;
  font-family: "Roboto", serif;
  text-align: center;
  // Using !important to override the padding and the width
  // of the Toastr component.
  padding: 40px 35px !important;
  width: 400px !important;
}

.toast--info {
  background-color: var(--danger-color);
}

.toast--success {
  background-color: var(--success-color);
}
