.card {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  &__header {
    display: flex;
    margin-bottom: 20px;
  }

  &__notification {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__notification-icon {
    max-width: 30px;
    margin-right: 20px;
  }

  &__body > span {
    display: flex;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    padding: 15px;

    &:nth-child(even) {
      background-color: #EDE7F6;
    }
  }

  &__item span {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__item span:nth-child(1),
  &__item span:nth-child(2) {
    margin-right: 20px;
  }

  &__icon {
    height: 18px;
    min-width: auto;
    margin-right: 10px;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
